@import "tailwindcss";

@theme {
  --font-family-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
